<%- include ("partials/header") %>

<body>
<div style="margin:20px auto;">
    <h1 style="color:blue;text-align:center;font-size:48px;">Generic Website</h1>
</div>
</body>


<%- include ("partials/footer") %>

